* {
  /*completar aqui*/
  box-sizing: border-box;
}

.container {
  /*definir largura e fonte*/
  width: 100%;

}

header {
  background-color: #f1f1f1;
  padding: 15px;
}

.float-container {
  /*completar aqui*/
  overflow: auto;
}
/*.float-container::after {*/
/*  !*completar aqui*!*/
/*  content: "";*/
/*  display: table;*/
/*}*/

nav {
  /*completar aqui*/
  margin-top: 5px;
  float: left;
  width: 20%;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menuitem {
  border-bottom: 1px solid #f1f1f1;
  background-color: #279ebc;
}

.menuitem:hover {
  background-color: #1b6a76;	
}

.menuitem a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  display: inline-block;
  /*completar aqui*/
}

main {
  /*completar aqui*/
  padding: 15px;
  margin-top: 5px;
  float: left;
  width: 60%;
}

aside {
  /*completar aqui*/	
  background-color: #BFE8F2;
  padding: 15px;
  margin-top: 5px;
  float: left;
  width: 20%;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 15px;
  margin-top: 5px;
  font-size: 12px;	
}

img {
  width: 100%;
  /*vertical-align: bottom;*/
}

.justify {
  text-align: justify;	
}

figure {
  /*border: 1px solid black;*/
  margin: 0 ;
}

figcaption {
  text-align: center;
}

/*media queries*/

@media only screen and (max-width: 992px) {
  main {
    width: 80%;
    padding: 0;
  }
  aside {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  main, nav {
    width: 100%;
  }

}